[Desktop Entry]
Type=Application
Name=Counters UI
Comment=Chromium in kiosk mode for local dashboard
Exec=/usr/bin/chromium-browser --user-data-dir=/home/brother/.config/chromium-screen1 --kiosk --incognito --noerrdialogs --disable-translate --no-first-run --fast --fast-start --disable-infobars --disable-features=TranslateUI --disk-cache-dir=/dev/null http://localhost:8000/
Icon=chromium-browser
Terminal=false
Categories=Network;WebBrowser;