[Unit]
Description=Touch Sensor Companion Device
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/brother/mf-touch-companion/
ExecStart=/home/brother/mf-touch-companion/venv/bin/python -m src.main
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target